body,html {
	height: 100%;
	width: 100%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
	background-color: #77B868;
}

nav a.navbar-brand {
	color: white;
}

nav .logo {
	height: 2rem;
	width: 2rem;
	background-size: cover;
	background-image: url("../../icons/icon-ui/Navbrand.svg");
}

nav .nav-content {
	position: relative;
	top: 5px;
}

nav .nav-content .button-logout {
	margin-bottom:10px;
	margin-right: 50px;
    height: 1rem;
    width: 1rem;
    background-size: cover;
    background-image: url("../../icons/logout.svg");
}

h1,h3 {
	margin-top: 20px;
	text-align: center;
}

h2 {
	text-align: center;
}

.container {
	margin-top: 100px;
}

.image {
	float: right;
	width: 25rem;
	height: 25rem;
	background-size: cover;
	background-image: url("../../img/content.jpg");
}

.two {
	float: left;
}

.two ol li {
	font-size: 1.2rem;
}

.two ol .button {
	position: relative;
	right: 18px;
	margin-top: 20px;
	list-style-type: none;
}

.square, .desc {
	display: flex;
}

.square div {
	text-align: center;
	margin-left: 5px;
	width: 2rem;
	height: 2rem;
	background-color: #61d482;
}

.square .square_colors {
	background-color: salmon !important;
}

.desc_ {
	margin-left: 10px;
}

.desc div {
	text-align: center;
	margin-right: 10px;
	width: 4rem;
	height: 2rem;
}

.booked {
	background-color: #61d482;
}

.none {
	background-color: salmon
}

.twost {
	margin-top: 10px;
}

.description {
	display: flex;
}

.description div {
	color: salmon;
	width: 2rem;
	height: 2rem;
	background-color: salmon;
}

.square_username {
	margin-top: 120px;
	text-align: center;
}

.welcome_username {
	font-size: 2rem;
}

.p_username {
	font-size: 1rem;
}

.btn {
	color: white;
	background-color: #77B868;
}
